// Setup
@import "./setup/base";
@import "./setup/mixins";
@import "./setup/variables";
@import "./setup/animation";

// // Pages
// @import "./pages/about.scss";
// @import "./pages/contact.scss";
// @import "./pages/home.scss";
// @import "./pages/projects.scss";

// // Layouts
// @import "./layouts/background.scss";
// @import "./layouts/navbar.scss";
