@import "./../main.scss";

.about {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: $color-secondary;
  background-image: url(../../images/cardbckg.png);
  background-size: cover;
  @media screen and (max-width: 650px) {
    height: 70vh;
  }
  @media screen and (max-width: 350px) {
    height: 50vh;
  }
  &-bar {
    width: 15em;
    margin-top: 8rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: $font-terciary;
    @media screen and (max-width: 1000px) {
      margin-left: 4rem;
    }
  }
}
.about-me {
  max-width: 60vw;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.about-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
  max-width: 100%;
}
.about-text-heading {
  width: 10vw;
  margin: 2rem;
  font-size: 6rem;
  color: $color-primary;
  font-family: $font-primary;
}
.about-text-p {
  font-size: 2rem;
  width: 70%;
  margin: 2rem;
  color: $color-text;
  font-family: $font-terciary;
  span {
    color: $color-primary;
    text-shadow: 0.01rem 0.01rem 2rem $color-primary;
  }

  @media screen and (max-width: 1000px) {
    margin-left: -4rem;
  }

  @media screen and (max-width: 800px) {
    font-size: 1.5rem;
    margin-top: 4rem;
  }
}

.me {
  position: relative;
  width: 40vw;
  z-index: 10;
}
.me-img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.tech {
  max-width: 100%;
  margin: 2rem;
}
.tech-img {
  width: 8rem;
  height: 10rem;
  margin: 3rem;
  @media screen and (max-width: 1250px) {
    width: 6rem;
    height: 8rem;
    margin: 3rem;
  }
  @media screen and (max-width: 850px) {
    width: 5rem;
    height: 6rem;
    margin: 3rem;
  }
  @media screen and (max-width: 550px) {
    width: 7rem;
    height: 8rem;
    margin: 3rem;
  }
  @media screen and (max-width: 400px) {
    width: 8rem;
    height: 9rem;
    margin: 3rem;
  }
}
.tech-text {
  width: 10vw;
  margin: 3rem;
  font-size: 2rem;
  color: $color-text;
  font-family: $font-primary;
  text-shadow: 0.1rem 0.1rem 1rem $color-text;
}

.btn-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  // justify-content: center;
  align-self: flex-start;
}
.btn {
  font-size: 1.2rem;
  color: $color-text;
  background-color: #32c1cd;
  border: none;
  border-radius: $bord-rad;
  box-shadow: 0.2rem 0.2rem 1rem $color-primary;
  text-align: center;
}
