@import "./../main.scss";

.allProjects {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    #6ad3dd,
    #23accd,
    #0085ba,
    #005da1,
    #0e357f
  );

  width: 100vw;
  min-height: 100%;

  .back-home {
    position: fixed;
    top: 10rem;
    right: 5rem;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 5rem 0;
    padding: 0 1rem;
    color: $color-text;
    padding-left: 3rem;

    &-heading {
      font-family: $font-primary;
      font-size: 7rem;
    }
    &-bar {
      width: 10rem;
      height: 0.2rem;
      margin-top: 4rem;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
    &-text {
      width: 30rem;
      font-size: 2rem;
      font-family: $font-secondary;
    }
  }

  &-main {
    width: 80vw;
    padding-bottom: 18rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    animation: home-header 1.5s ease-in-out;
    @media screen and (max-width: 1000px) {
      justify-content: center;
    }
  }

  &-box {
    width: 60rem;
    height: 32vh;
    margin: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: $bord-rad;
    position: relative;
    z-index: 20;
    text-align: center;
    background-size: cover;
    border-radius: $bord-rad;
    cursor: pointer;
    border-radius: 5px;
    // background: #555c77;
    // box-shadow: 5px 5px 10px #525973, -5px -5px 10px #585f7b;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 14px $color-primary, inset -7px -7px 14px #ffffff;

    &:hover :not(:last-child) {
      transform: scale(0.99);
      transition: all 0.6s;
    }
    &:hover .allProjects-box_after {
      @include show-left;
    }
    @media screen and (max-width: 1350px) {
      width: 50rem;
    }
    @media screen and (max-width: 1000px) {
      width: 70rem;
    }
    @media screen and (max-width: 750px) {
      height: 25vh;
    }
    @media screen and (max-width: 550px) {
      width: 80rem;
      height: 20vh;
    }
    @media screen and (max-width: 400px) {
      width: 80rem;
      height: 15vh;
    }

    &_after {
      position: absolute;
      top: 0;
      left: 0%;
      width: 15%;
      height: 100%;
      opacity: 0;
      z-index: -2;
      transition: all 0.6s ease-out;
      border-radius: $bord-rad;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &_before {
      position: absolute;
      top: 0;
      left: 20%;
      width: 0%;
      height: 100%;
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      z-index: -2;
      transition: all 0.4s ease-out;

      justify-content: space-around;
      align-items: center;
    }

    &:hover .allProjects-box_before {
      display: flex;
      width: 100%;
      height: 40%;
      left: 0;
      top: 60%;
      background-color: $color-primary;
      // background-color: $color-text;
      opacity: 0.7;
      z-index: 200;
      border-radius: $bord-rad;
    }

    .stack {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 5rem;
      color: $color-text;
      width: 100%;
    }

    &_0 {
      grid-column: 3 / span 1;
      grid-row: 5 / span;
      background-image: url("./../../images/cardbckg6.png");
    }
    &_1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span;
      background-image: url("./../../images/cardbckg.png");
    }

    &_2 {
      grid-column: 3 / span 1;
      grid-row: 1 / span;
      background-image: url("./../../images/cardbckg6.png");
    }
    &_3 {
      grid-column: 1 / span 1;
      grid-row: 2 / span;

      background-image: url("./../../images/cardbckg.png");
    }
    &_4 {
      grid-column: 3 / span 1;
      grid-row: 2 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_5 {
      grid-column: 1 / span 1;
      grid-row: 3 / span;
      background-image: url("./../../images/cardbckg6.png");
    }
    &_6 {
      grid-column: 3 / span 1;
      grid-row: 3 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_7 {
      grid-column: 1 / span 1;
      grid-row: 4 / span;
      background-image: url("./../../images/cardbckg6.png");
    }
    &_8 {
      grid-column: 3 / span 1;
      grid-row: 4 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_9 {
      grid-column: 1 / span 1;
      grid-row: 5 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_10 {
      grid-column: 3 / span 1;
      grid-row: 5 / span;
      background-image: url("./../../images/cardbckg6.png");
    }
    &_11 {
      grid-column: 1 / span 1;
      grid-row: 6 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_12 {
      grid-column: 3 / span 1;
      grid-row: 6 / span;
      background-image: url("./../../images/cardbckg.png");
    }
    &_13 {
      grid-column: 3 / span 1;
      grid-row: 6 / span;
      background-image: url("./../../images/cardbckg6.png");
    }

    &-img {
      width: 40%;
      aspect-ratio: 1/1;
      position: relative;
      margin: 1rem;
      margin-right: -5rem;
      z-index: 20;
      box-shadow: 0.5rem 0.5rem 1rem $color-text;
      border-radius: $bord-rad;
    }
    .card-text {
      max-width: 50%;
      max-height: 80%;
      text-align: start;
      margin: 1rem;
      overflow: hidden;
      @media screen and (max-width: 550px) {
        display: grid;
        justify-content: center;
        align-items: center;
        // padding: 4rem;
      }

      &_heading {
        font-size: 3rem;
        font-family: $font-primary;
        margin-bottom: 0.7em;
        @media screen and (max-width: 550px) {
          text-align: center;
          padding: 2rem;
          margin-top: 8rem;
          width: 100%;
          font-size: 4rem;
        }
      }
      &_p {
        font-size: 1.8rem;
        font-family: $font-terciary;
        @media screen and (max-width: 750px) {
          align-items: center;
        }
        @media screen and (max-width: 550px) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &-cube {
      width: 50%;
      height: 50%;
      position: relative;
      margin: 3rem 10rem;
      z-index: 20;
    }
  }
  .more {
    width: 20rem;
    bottom: -235%;
    right: 2%;
    position: absolute;
    margin: 3rem 10rem;
    padding: 1rem;
    z-index: 20;
    text-align: center;
    text-decoration: none;

    &-img {
      width: 20rem;
      margin: 2rem 0rem;
    }
    &-text {
      font-family: $font-terciary;
      color: $color-text;
      text-transform: uppercase;
    }
  }
  .fa-brands,
  .fa-solid,
  .github,
  .fa {
    padding: 1rem;
    font-size: 6rem;
    color: $color-text;
    text-shadow: -0.1rem -0.1rem 2rem $color-text;

    &:hover {
      font-size: 6.5rem;
      transition: all 0.3s;
      color: $color-third;
    }
  }
}
