@import "./../main.scss";

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  padding: 5rem;
  position: relative;
  overflow-x: hidden;

  @media screen and (max-width: 1050px) {
    height: 65vh;
  }

  @media screen and (max-width: 850px) {
    height: 60vh;
    padding-top: 2rem;
  }
  @media screen and (max-width: 750px) {
    height: 50vh;
  }

  @media screen and (max-width: 650px) {
    height: 35vh;
  }

  @media screen and (max-width: 450px) {
    height: 25vh;
  }
  @media screen and (max-width: 350px) {
    height: 20vh;
  }

  &-heading {
    text-align: center;

    color: #212121;
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    text-shadow: -0.1rem 0.1rem 1rem $color-third;
    span {
      color: $color-secondary;
      font-size: 6rem;
      text-shadow: -0.1rem 0.1rem 3rem $color-third;
      // font-weight: 700;
    }
    @media screen and (max-width: 800px) {
      font-size: 4rem;
    }
  }

  &-me {
    color: #efefef;
    text-shadow: 0.1rem 0.1rem 0.8rem $color-secondary;
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    &:hover {
      color: $color-primary-light;
    }
    &-link {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 5rem;
  padding: 2rem;
  margin-bottom: -1rem;
  color: #e9d5da;
  text-shadow: 0.2rem -0.2rem 2rem $color-secondary;
}

.fa {
  padding: 2rem;
  color: #30aadd;
  color: #efefef;
  color: #e9d5da;

  font-size: 6rem !important;
  z-index: 500;
  @media screen and (max-width: 950px) {
    padding: 1.5rem;
  }
  @media screen and (max-width: 750px) {
    padding: 1rem;
  }
  @media screen and (max-width: 670px) {
    padding: 0.5rem;
  }
  @media screen and (max-width: 550px) {
    padding: 1.5rem;
  }
  @media screen and (max-width: 350px) {
    padding: 1rem;
  }
  cursor: pointer;
  &:hover {
    color: $color-secondary;
  }
}

.tech-img-contact {
  width: 7rem;
  position: absolute;
  opacity: 0.5;
  z-index: 500;
  animation: contact-rotate 60s infinite running;

  &-1 {
    top: 5rem;
    right: 10rem;
    transform: rotate(50deg);
  }

  &-4 {
    top: 15rem;
    left: 10rem;
    transform: rotate(50deg);
  }
  &-5 {
    top: 50rem;
    left: 25rem;
    transform: rotate(-50deg);
  }
  &-6 {
    top: 25rem;
    right: 10rem;
    transform: rotate(-50deg);
  }
  &-7 {
    top: 45rem;
    right: 45rem;
    transform: rotate(-50deg);
  }
  &-8 {
    top: 55rem;
    left: 10rem;
    transform: rotate(-50deg);
  }
  &-9 {
    top: 55rem;
    right: 15rem;
    width: 2rem;
    transform: rotate(-50deg);
  }
  &-11 {
    top: 15rem;
    left: 15rem;
    transform: rotate(-50deg);
  }
  &-12 {
    top: 2rem;
    left: 30rem;
    transform: rotate(-50deg);
  }
  &-19 {
    bottom: 45rem;
    right: 20rem;
    transform: rotate(-50deg);
  }
  &-14 {
    top: 0rem;
    right: 20rem;
    transform: rotate(-50deg);
  }
  &-13 {
    top: 0rem;
    right: 60rem;
    transform: rotate(-50deg);
  }
  &-15 {
    top: 7rem;
    left: 60rem;
    transform: rotate(-50deg);
  }
  &-16 {
    top: 20rem;
    right: 20rem;
    transform: rotate(-50deg);
  }
  &-17 {
    top: 50rem;
    right: 5rem;
    transform: rotate(-50deg);
  }
  &-27 {
    top: 30rem;
    right: 55rem;
    transform: rotate(-50deg);
  }
  &-28 {
    top: 30rem;
    left: 55rem;
    transform: rotate(-50deg);
  }
}

.reverse {
  animation: contact-rotate-reverse 60s infinite running;
}

.ideas {
  text-shadow: 0.2rem -0.2rem 0.5rem $color-secondary;
}

.footer__copyright {
  padding: 2rem auto;
  color: $color-text;

  a {
    color: $color-third;
    font-size: 1.2rem;
  }
}

.parallax {
  background-image: linear-gradient(
    to right bottom,
    rgba(103, 198, 210, 0.85),
    rgba(41, 161, 177, 0.6)
  );
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20% 20%;
}

@media screen and (max-width: 750px) {
  .parallax {
    background-position: 50%;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
