@import "./../main.scss";

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-main {
    margin: 12rem 5rem;
    padding: 2rem;
    text-align: left;
    animation: home-header 2s ease-in;
  }
  &-header,
  &-text {
    width: 30vw;
    margin: 2rem;
    font-size: 6rem;
    color: $color-text;
    font-family: $font-primary;
  }

  &-text {
    font-size: 4rem;
    color: #394867;
    font-family: $font-terciary;
  }

  &-span {
    color: $color-text;
    text-transform: uppercase;
  }
  &-cube {
    width: 40rem;
    position: absolute;
    bottom: 0rem;
    left: 20vw;
    opacity: 0.5;
    animation: home-cube 5s ease-in;
  }
}
