@import "./../main.scss";

.projects {
  // display: flex;
  // align-items: center;
  background-color: $color-secondary;
  width: 100vw;
  min-height: 100%;
  overflow: scroll;
  padding: 5rem;

  // &-bar {
  //   width: 20rem;
  //   // height: 90vh;
  //   margin: 3rem;
  //   background-color: #000;
  //   margin-left: 10rem;
  //   color: #fff;
  //   font-size: 18rem;
  //   text-transform: uppercase;
  //   writing-mode: vertical-lr;
  // }
  &-main {
    width: 80vw;
    height: 95vh;

    // background-color: aquamarine;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 5rem repeat(5, 1fr) 5rem;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0rem;
    row-gap: 1rem;

    // margin-left: -3rem;
    // border: 0.2rem solid rgba(55, 35, 35, 0.2);
  }

  &-box {
    width: 45vw;
    height: 35vh;
    margin: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: $bord-rad;
    position: relative;
    z-index: 20;
    text-align: center;
    background-size: cover;
    &:hover :not(:last-child) {
      opacity: 0.7;
      transform: scale(0.99);
      transition: all 0.5s;
    }

    &_after {
      position: absolute;
      top: 0;
      left: 0%;
      width: 11%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      z-index: -2;
      transition: all 0.6s ease-out;
      border-radius: $bord-rad;
      cursor: pointer;
      background-image: url("./../../images/cardbckg.png");
    }

    &_1 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 1;
      background-image: url("./../../images/cardbckg.png");

      &:hover .projects-box_after {
        @include show-left;
      }
    }

    &_2 {
      grid-column: 3 / span 3;
      grid-row: 2 / span 1;
      background-image: url("./../../images/cardbckg2.png");
      &:hover .projects-box_after {
        @include show-left;
      }
    }
    &_3 {
      grid-column: 3 / span 3;
      grid-row: 3 / span 1;
      background-image: url("./../../images/cardbckg4.png");

      &:hover .projects-box_after {
        @include show-left;
      }
    }
    &_4 {
      grid-column: 3 / span 3;
      grid-row: 4 / span 1;
      background-image: url("./../../images/cardbckg5.png");

      &:hover .projects-box_after {
        @include show-left;
      }
    }
    // &_5 {
    //   grid-column: 5 / span 1;
    //   grid-row: 1 / span 1;
    //   &:hover .projects-box_after {
    //     @include show-down;
    //   }
    //   &:hover .projects-box_before {
    //     @include show-left;
    //   }
    // }
    &_6 {
      grid-column: 6 / span 1;
      grid-row: 2 / span 1;
      &:hover .projects-box_after {
        @include show-up;
      }
      &:hover .projects-box_before {
        @include show-left;
      }
    }
    &_7 {
      grid-column: 4 / span 1;
      grid-row: 2 / span 1;
      &:hover .projects-box_after {
        @include show-down;
      }
      &:hover .projects-box_before {
        @include show-left;
      }
    }
    &_8 {
      grid-column: 6 / span 1;
      grid-row: 3 / span 1;
      &:hover .projects-box_after {
        @include show-down;
      }
      &:hover .projects-box_before {
        @include show-left;
      }
    }
    &-img {
      width: 30%;
      height: 90%;
      position: relative;
      z-index: 20;
      box-shadow: 0.2rem 0.2rem 2rem $color-text;
      border-radius: $bord-rad;

      //   border-radius: 50%;
    }
    .card-text {
      max-width: 50%;
      max-height: 80%;
      text-align: start;
      margin: 1rem;
      overflow: hidden;
    }
    &-cube {
      width: 50%;
      height: 50%;
      position: relative;
      margin: 3rem 10rem;
      z-index: 20;
    }
  }
}
