@import "./../main.scss";

.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $color-secondary;
  width: 100vw;
  min-height: 100%;
  overflow: scroll;
  padding: 15rem 5rem;
  @media screen and (max-width: 550px) {
    padding: 5rem 2rem;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5rem 0;
    padding: 0 1rem;
    color: $color-text;

    &-heading {
      font-family: $font-primary;
      font-size: 4rem;
    }
    &-bar {
      width: 10rem;
      height: 0.2rem;
      margin-top: 4rem;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
    &-text {
      width: 23em;
      font-size: 2rem;
      font-family: $font-secondary;
      @media screen and (max-width: 550px) {
        font-size: 2.1rem;
      }
    }
  }

  &-main {
    width: 80vw;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
  }

  &-box {
    width: 45vw;
    height: 30vh;
    margin: 2rem auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: $bord-rad;
    position: relative;
    z-index: 20;
    text-align: center;
    background-size: cover;
    &:hover :not(:last-child) {
      opacity: 0.8;
      transform: scale(0.99);
      transition: all 0.5s;
    }
    &:hover .projects-box_after {
      @include show-left;
    }
    @media screen and (max-width: 1050px) {
      width: 65vw;
    }
    @media screen and (max-width: 550px) {
      width: 75vw;
      height: 20vh;
    }

    &_after {
      position: absolute;
      top: 0;
      left: 0%;
      width: 15%;
      height: 100%;
      opacity: 0;
      z-index: -2;
      transition: all 0.6s ease-out;
      border-radius: $bord-rad;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &_1 {
      background-image: url("./../../images/cardbckg.png");
    }

    &_2 {
      background-image: url("./../../images/cardbckg4.png");
    }
    &_3 {
      background-image: url("./../../images/cardbckg2.png");
    }
    &_4 {
      background-image: url("./../../images/cardbckg5.png");
    }
    &_5 {
      background-image: url("./../../images/cardbckg6.png");
    }

    &-img {
      width: 30%;
      height: 85%;
      position: relative;
      z-index: 20;
      box-shadow: 0.5rem 0.5rem 1rem $color-text;
      border-radius: $bord-rad;
      @media screen and (max-width: 450px) {
        height: 70%;
      }
    }
    .card-text {
      max-width: 50%;
      max-height: 80%;
      text-align: start;
      margin: 1rem;
      overflow: hidden;
      &_heading {
        font-size: 3rem;
        font-family: $font-primary;
        margin-bottom: 0.7em;
        @media screen and (max-width: 550px) {
          // font-size: 5rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 5rem;
          margin: auto 2rem;
        }
      }
      &_p {
        font-size: 1.5rem;
        font-family: $font-terciary;
        @media screen and (max-width: 600px) {
          opacity: 0;
          visibility: none;
        }
      }
    }
    &-cube {
      width: 50%;
      height: 50%;
      position: relative;
      margin: 3rem 10rem;
      z-index: 2;
    }
  }
  .more {
    width: 10%;
    margin: 1rem auto;
    position: absolute;
    bottom: -10rem;
    right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 20;
    text-decoration: none;
    // @media screen and (max-width: 550px) {
    //   bottom: 5rem;
    //   right: 20rem;
    // }

    &-img {
      width: 18rem;
      margin: 2rem;
    }
    &-text {
      font-family: $font-secondary;
      color: $color-primary;
      text-transform: uppercase;
    }
  }
  .fa-brands {
    padding: 1rem;
    font-size: 8rem;
    color: $color-secondary;
    text-shadow: -0.1rem -0.1rem 2rem $color-text;

    &:hover {
      font-size: 8.5rem;
      transition: all 0.3s;
      color: $color-primary;
    }
  }
}
