@import "./../main.scss";

.services {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 5rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;

  &-bg {
    width: 90%;
    position: inherit;
    position: absolute;
    top: -6rem;
    left: -4rem;
    opacity: 3%;
    transform: rotate(180deg);
    z-index: 0;
  }
}
.circles-container {
  width: 100%;
  height: 100%;
  margin: 6rem auto;
  padding: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 0 1rem;
  color: $color-text;

  &-heading {
    font-family: $font-primary;
    font-size: 8rem;
  }

  &-bar {
    width: 12rem;
    height: 0.2rem;
    // margin-top: 6rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    @media screen and (max-width: 550px) {
      opacity: 0;
      display: none;
    }
  }
  &-text {
    width: 40%;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: $font-secondary;
    @media screen and (max-width: 850px) {
      font-size: 3rem;
      width: 20em;
    }
    @media screen and (max-width: 550px) {
      opacity: 0;
      display: none;
    }
  }
}
