@keyframes backgroundZoom {
  0% {
    opacity: 0.9;
    background-size: 120%;
    // transform: scale(1.2);
  }
  100% {
    background-size: 100%;
    // transform: scale(1);

    opacity: 1;
  }
}

@media screen and (max-width: 1050px) {
  @keyframes backgroundZoom {
    0% {
      opacity: 0.9;
      background-size: 125%;
    }
    100% {
      background-size: 105%;
      opacity: 1;
    }
  }
}

@keyframes home-header {
  0% {
    opacity: 0;
    transform: translateX(-25rem);
    z-index: -20;
  }

  100% {
    opacity: 1;
  }
}
@keyframes home-cube {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes contact-rotate {
  0% {
    transform: rotate(0);
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg) translate(-20rem);
    opacity: 0.5;
  }
}
@keyframes contact-rotate-reverse {
  0% {
    transform: rotate(0);
    opacity: 0.2;
  }
  100% {
    transform: rotate(-360deg) translate(20rem);
    opacity: 0.5;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
