* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: #eeeeee;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // 1rem=10px;
  scroll-behavior: smooth;
  @media screen and (max-width: 1650px) {
    font-size: 52%;
  }
  @media screen and (max-width: 1250px) {
    font-size: 48%;
  }
  @media screen and (max-width: 1050px) {
    font-size: 45%;
  }

  @media screen and (max-width: 850px) {
    font-size: 40%;
  }
  @media screen and (max-width: 650px) {
    font-size: 30%;
  }
  @media screen and (max-width: 550px) {
    font-size: 25%;
  }
  @media screen and (max-width: 460px) {
    font-size: 20%;
  }
  @media screen and (max-width: 380px) {
    font-size: 17%;
  }
}
