@mixin show-right {
  transform: translateX(102%);
  opacity: 1;
  z-index: 1;
}
@mixin show-left {
  transform: translateX(-102%);
  opacity: 1;
  z-index: 1;
}
@mixin show-down {
  transform: translateY(100%);
  opacity: 1;
  z-index: 1;
}
@mixin show-up {
  transform: translateY(-100%);
  opacity: 1;
  z-index: 1;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
