// Colors
$color-primary: #5F9DF7;
$color-primary-light: #FF731D;
$color-secondary: #1746A2;
$color-third: #FFF7E9;
$color-text: #120136;


// #5C86AE
// Fonts
$font-primary: "Cinzel", serif;
$font-secondary: "Montserrat", sans-serif;
$font-terciary: "Ubuntu Mono", monospace;
$bord-rad: 0.2rem;
$text-shadow: 0.1rem 0.1rem 0.2rem $color-text;

// Spinner

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 15rem;
  height: 15rem;
  margin: 5rem;
  text-align: center;
}
