// Colors
$color-primary: #389393;
$color-secondary: #eeeeee;
$color-terciary: #eb2c8b;
$color-text: #262626;

// Fonts
$font-primary: "Cinzel", serif;
$font-secondary: "Montserrat", sans-serif;
$font-terciary: "Ubuntu Mono", monospace;
$bord-rad: 0.2rem;
$text-shadow: 0.1rem 0.1rem 0.2rem $color-text;
