// @import "./../main.scss";

.home::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 102%;
  top: -4%;
  left: -0%;
  z-index: -10;
  background: url(./../../../src/images/bckg-img9.jpg);
  background-size: cover;
  overflow: hidden;
  transform: rotateY(180deg);
  animation: backgroundZoom 20s ease-out;
}

.custom-shape-divider-bottom-1650151152 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650151152 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 479px;
}

.custom-shape-divider-bottom-1650151152 .shape-fill {
  fill: #f1f6f9;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1650151152 svg {
    width: calc(145% + 1.3px);
    height: 407px;
  }
}
