@import "../setup/variables";

.mini-menu {
  position: fixed;
  width: 2.5%;
  padding: 1.2rem;
  background-color: #6bc3d0;
  right: -1rem;
  bottom: 20rem;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
  transition: all 0.7s;
  animation: mini-menu 3s ease-in-out;
  background: linear-gradient(145deg, #60b0bb, #72d1df);
  box-shadow: 2px 2px 10px #64b5c1, -2px -2px 10px #72d1df;

  &-item {
    opacity: 0;
    margin: auto 1.5rem;
    font-size: 0rem;
    color: #efefef;
    transition: all 1s;
    cursor: pointer;
    text-shadow: 5px 5px 10px #000;
    &:hover {
      color: $color-primary-light;
      text-shadow: 2px 2px 10px #000;
    }
  }
  &:hover {
    width: 12%;
    padding-right: 3rem;
  }
  &:hover .mini-menu-item {
    opacity: 1;
    font-size: 3.5rem;
  }
  &:hover .mini-menu-arrow {
    opacity: 0;
    font-size: 0;
  }

  &-arrow {
    font-size: 3rem;
    margin-right: 1rem;
    color: $color-text;
    opacity: 0.5;
    transition: all 1s;
  }
}

@keyframes mini-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
