@import "../setup/variables";

nav {
  position: relative;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.navbar {
  background-color: transparent !important;
  position: relative;
  min-height: 4vw;
  width: 95%;
  margin: 1rem 2rem;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: $color-text;
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamidweb {
  color: $color-secondary;
  // color: #73daab;
  text-align: center;
  margin: 0.3rem 0 0 0.2rem;
  font-family: $font-secondary;
}
.nav-link {
  color: $color-third !important;
  margin-right: 3rem;
  padding: 0.5rem 0.8rem !important;
  position: relative;
  font-family: $font-terciary;
  text-shadow: 0.1rem 0.1rem 0.4rem $color-text;

  text-align: center;
  @media screen and (max-width: 1000px) {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.nav-link:hover {
  color: $color-text !important;
  text-shadow: none;
}
.nav-link.active {
  background-color: #7ec8d2;
  color: $color-text !important;
  text-shadow: none;
  border-radius: 0.3rem;
}
.nav-link.active:hover {
  background-color: transparent;
}

.nav-link::before {
  content: "";
  position: absolute;
  background-color: $color-primary-light;
  width: 10%;
  height: 100%;
  margin-right: 5rem;
  margin-top: -0.5rem;
  opacity: 0;
  transform: translateX(-1rem);
  z-index: -1;
  border-radius: 0.3rem;
}
.nav-link:hover::before {
  width: 110%;
  opacity: 1;
  transition: all 0.7s ease-in-out;
  @media screen and (max-width: 1000px) {
    width: 250%;
  }
}

.navbar-nav {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  position: absolute;
  right: 21rem;

  @media screen and (max-width: 1300px) {
    right: 18rem;
  }
  @media screen and (max-width: 1000px) {
    background-color: rgba($color-primary, $alpha: 0.2);
    top: 1.5rem;
    right: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 18%;
    height: 30rem;
  }
}
.navbar-toggler {
  width: 8rem;
  height: 5rem;
  margin: 1rem 5rem;
  font-size: 3rem;
  background-color: $color-primary-light;
  border: none !important;
  transition: all 1s;
  @media screen and (max-width: 650px) {
    width: 10rem;
    height: 6rem;
  }
}

.collapsed {
  background-color: rgba($color-primary, $alpha: 0.5);
  transition: all 1s;
}
