@import "../setup/variables";

.circle {
  width: 25rem;
  height: 25rem;
  margin: 2rem auto;
  border-radius: 5%;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 14px #bebebe, inset -7px -7px 14px #ffffff;

  &-container {
    text-align: center;
    font-family: $font-secondary;
  }

  &-image {
    width: 50%;
  }
}
// .color-design {
//   background-color: #fd8a8a;
// }
// .color-code {
//   background-color: #9ea1d4;
// }
// .color-deploy {
//   background-color: #f1f7b5;
// }
// .color-seo {
//   background-color: #a8d1d1;
// }
// .color-update {
//   background-color: #efefef;
// }

.title {
  font-family: $font-primary;
  font-size: 2.5rem;
  color: $color-secondary;
}
